/* CampaignPage.css */

.campaign-detail-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .campaign-detail-page h1 {
    font-weight: bold;
    font-size: 24px;
  }
  
  .campaign-detail-page p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .image-gallery img:hover {
    transform: scale(1.05);
  }
  
  .contact-details {
    margin-top: 20px;
    font-size: 16px;
  }
  
  .contact-details p {
    margin: 5px 0;
  }
  .verify-button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer */
  }
  
  .verify-button:hover {
    background-color: #45a049; /* Darker green color on hover */
  }
  .delete-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
    