* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.donation-page-carousel-container {
    height: 650px;
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-page-carousel {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.donation-page-carousel::before {
    content: '';
    /* Necessary for the pseudo-element to render */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../components/Images/group-young-children-running-playing-park.jpg");
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: brightness(70%);
    z-index: -1;
}

#donation-page-carousel-text-container {
    position: relative;
    top: 250px;
    z-index: 1;
    color: white;
    height: max-content;
    /* background-color: black; */
}

#donation-page-carousel-text-container>p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

#donation-page-carousel-text-container>p>span {
    text-align: center;
}

#donation-page-carousel-text1 {
    font-weight: 600;
    color: gold;
}

#donation-page-carousel-text2 {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.types-of-donation-container {
    margin-top: 50px;
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.types-of-donation-container>div {
    background-color: #ecf0f3;
    width: 70%;
}

#how-can-i-help{
    margin-top: 20px;
    text-align: left;
    padding-left: 5%;
    font-weight: bold;
    font-size: 2.5rem;
    color: #005DAB;
}

.types-of-donation-container>div>h2{
    font-size: 2rem;
    color: black;
    margin-top: 20px;
    text-align: left;
    
}

@media screen and (max-width: 768px) {
    .donation-page-carousel {
        width: 90%;
    }

    #donation-page-carousel-text-container {
        top: 150px;
    }

    #donation-page-carousel-text-container>p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .donation-page-carousel {
        width: 95%;
    }

    #donation-page-carousel-text-container {
        top: 100px;
    }

    #donation-page-carousel-text-container>p {
        font-size: 1.5rem;
    }
}