@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oooh+Baby&family=PT+Mono&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oooh+Baby&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Pacifico&display=swap');

/* This file contains CSS for the donation page and the donation Card */

/* 2. CSS for the donation Page */
.donation-page-carousel-container {
    aspect-ratio: 16/9;
    /* height: 650px; */
    /* max-width: 100%; */
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.donation-page-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.donation-page-carousel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../components/Images/group-young-children-running-playing-park.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    filter: brightness(50%);
    z-index: -1;
}

#donation-page-carousel-text-container {
    position: relative;
    top: 30%;
    z-index: 1;
    color: white;
    height: max-content;
    text-align: center;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

#donation-page-carousel-text-container.fade-in {
    opacity: 1;
}

#donation-page-carousel-text-container>p {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Pt Mono', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4.4rem;
    line-height: 1.2;
}

#donation-page-carousel-text-container>p>span {
    text-align: center;
}

#donation-page-carousel-text1 {
    font-weight: 700;
    color: gold;
}

#donation-page-carousel-text2 {
    font-weight: 600;
    color: rgb(255, 255, 255);
}

#schedule-now-button-container {
    margin-top: 60px;
    /* Adjust this value to increase or decrease the space between the text and the button */
    text-align: center;
}

#schedule-now-button {
    background: linear-gradient(to right, #005a42, #00805e);
    /* Orange color */
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 8px 24px;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#schedule-now-button:hover {
    filter: brightness(80%);
    /* Darker orange color on hover */
}

/* CSS for the items to donate */
.types-of-donation-container {
    margin-top: 50px;
    height: max-content;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.types-of-donation-container>div {
    background-color: #ecf0f3;
    width: 75%;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.help-and-donate-heading {
    margin-top: 40px;
}

#how-can-i-help {
    text-align: left;
    padding-left: 5%;
    font-weight: 700;
    font-size: 2.5rem;
    color: #005DAB;
    font-family: 'Poppins', sans-serif;
}

.types-of-donation-container>div>div>h2 {
    font-size: 2rem;
    margin-top: 5px;
    padding-left: 5%;
    text-align: left;
    font-weight: 600;
    color: rgb(50, 48, 48);
    font-family: 'Poppins', sans-serif;
}

.donation-items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 10px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
}

.donation-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
}

.donation-item-text {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333;
}

.click-to-donate {
    margin-top: 50px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.click-to-donate>a {
    height: 100%;
    min-width: 230px;
}

.click-to-donate>a>button {
    height: 100%;
    min-width: 230px;
    background: linear-gradient(to right, #005a42, #00805e);
    /* border: 1.5px solid #0a763d; */
    padding: 0 2px;
    font-size: 1.35rem;
    border-radius: 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.click-to-donate>a>button:hover {
    background-color: #0a763d;
}

.click-to-donate>a>button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: left 0.5s ease;
}

.click-to-donate>a>button:hover::before {
    left: 0;
}

/* 1. css for donation card */
.donation-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
}

.donation-card {
    position: relative;
    width: 300px;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.donation-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.donation-card-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.donation-card-front img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.donation-card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52%;
    background-color: #fff;
    padding: 20px;
    padding-top: 6px;
    box-sizing: border-box;
    border-radius: 30px;
}

.donation-item-text h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.donation-item-text p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

@media screen and (max-width: 1550px) {
    #donation-page-carousel-text-container>p {
        font-size: 4rem;
    }
}

@media screen and (max-width: 850px) {
    #donation-page-carousel-text-container>p {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .donation-page-carousel-container{
        margin-top: 45px;
    }
    .donation-page-carousel {
        width: 90%;
    }

    #donation-page-carousel-text-container {
        top: 150px;
    }

    #donation-page-carousel-text-container>p {
        font-size: 2rem;
    }

    #schedule-now-button-container {
        margin-top: 30px;
        text-align: center;
    }
    #schedule-now-button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 576px) {
    .donation-page-carousel {
        width: 95%;
    }

    #donation-page-carousel-text-container {
        top: 100px;
    }

    #donation-page-carousel-text-container>p {
        font-size: 1.5rem;
    }

    .donation-card {
        width: 300px;
        height: 300px;
    }

    #schedule-now-button-container {
        margin-top: 20px;
        text-align: center;
    }
    #schedule-now-button {
        font-size: 0.9rem;
        /* Further decreased font size for mobile phones */
        padding: 6px 12px;
        /* Further decreased padding for mobile phones */
    }

    .types-of-donation-container>div {
        width: 90%;
    }
}