/* FloatingActions.css */
.floating-actions {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
}

.floating-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
.FAB-whatsapp{
    background-color: #00a950;
}
.FAB-whatsapp:hover{
    background-color: #068742;
}
.FAB-phone {
    background-color: rgb(59, 59, 206);
}
.FAB-phone:hover {
    background-color: rgb(29, 29, 171);
}

.FAB-feedback{
    background-color: rgb(160, 48, 48);
}
.FAB-feedback:hover{
    background-color: rgb(148, 34, 34);
}

.floating-action i {
    font-size: 24px;
}