@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* Footer Styles */
footer {
  background: linear-gradient(to right, #004b8d, #002c55);
  color: #fff;
  padding: 1rem 1rem;
  padding-top: 1.5rem;
  font-family: 'Roboto Slab', serif;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.footer {
  margin: 0 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-logo-and-social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-foundation {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#daan-footer {
  color: #00a94f;
}

#karen-footer {
  color: rgb(35, 96, 250);
}

.footer-social-media {
  display: flex;
  gap: 1.5rem;
}

.footer-social-media-link {
  color: #fff;
  font-size: 1.6rem;
  transition: color 0.1s ease, transform 0.3s ease;
}

.footer-social-media-link:hover {
  color: #00a94f;
}

.tagline-in-footer {
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #d3d3d3;
}

.footer-content{
  display: flex;
  justify-content: center;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-address {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-address i {
  font-size: 1.15rem;
  color: #00a94f;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-top: 3px;
}

.footer-address p {
  margin: 0;
  font-size: 1.2rem;
}

.footer-copyright {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  color: #d3d3d3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-logo-and-social-media {
    align-items: center;
  }

  .footer-contact {
    align-items: center;
  }

  .footer-copyright {
    grid-column: 1 / 1;
  }
}