@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@100..900&display=swap');

/* data section */
.data-section {
  margin-top: 3%;
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.data-card {
  width: 350px;
  height: 350px;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.data-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #2360fa;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.number {
  font-size: 2rem;
  font-weight: bold;
  color: #2360fa;
  margin-top: 0.5rem;
}

.data-card h3 {
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
  padding-top: 15px;
}

.data-card p {
  color: #4e4e4e;
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 15px;
}

/* reviews section */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Review Section Container */

.review-section-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  caret-color: transparent;
}

.review-tagline-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.review-tagline {
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
  color: #004b8d;
  text-align: center;
  position: relative;
  padding-bottom: 17px;
}

.review-tagline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 4px;
  background-image: linear-gradient(to right, #00a94f, #004b8d);
}

.review-section {
  width: 80%;
  background-image: linear-gradient(to right, #00a94f, #004b8d);
  border-radius: 10px;
  padding: 3rem 0;
}

.gradient-container {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.review-card-groups-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 85%;
  gap: 1%;
  transition: transform 0.5s ease;
}

.review-card-groups-container::-webkit-scrollbar{
  display: none;
}

.review-card {
  flex: 0 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 49%;
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
}

.card-review {
  flex: 1;
  margin-bottom: 20px;
}

.card-footer {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 1.1rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  color: #004b8d;
  margin-right: 10px;
}

.review-scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.review-prev {
  left: 25px;
}

.review-next {
  right: 25px;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .review-card-groups-container {
    flex-wrap: nowrap;
  }
}

/* homepage_campaign section */

.homepage-campaign-section {
  padding: 40px 0;
}

.section-heading {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.heading-decoration {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 4px;
  background: linear-gradient(to right, #00a94f, #004b8d);
  border-radius: 50px;
}

.campaign-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  padding-left: 6%;
  padding-right: 5%;
}

.homepage-campaign-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 430px;
  transition: transform 0.3s ease-in-out;
  width: 300px;
}

.homepage-campaign-card:hover {
  box-shadow: 0 0 5px rgba(41, 39, 39, 0.534);
  cursor: pointer;
}

.campaign-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.campaign-details {
  padding: 20px;
  height: 230px;
}

.campaign-details-para {
  flex-grow: 1;
}

.campaign-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.campaign-description {
  color: #666;
  margin-bottom: 15px;
  font-size: 18px;
}

.campaign-cards-progess-stats {
  /* position: absolute; */
  bottom: 0;
}

.progress-bar {
  background-color: #f4f4f4;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: linear-gradient(to right, #00a94f, #004b8d);
  transition: width 0.3s ease-in-out;
}

.campaign-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bold;
}

.raised {
  color: #4caf50;
}

.goal {
  color: #666;
}

.homepage-see-more-campaign {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
}

.view-all-btn {
  display: block;
  padding: 10px 20px;
  background: linear-gradient(to right, #00a94f, #004b8d);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: larger;
  transition: background 0.3s ease-in-out;
  min-width: max-content;
  max-width: max-content;
  text-align: center;
}

.view-all-btn:hover {
  background: linear-gradient(to left, #00a94f, #004b8d);
}



/* whatcanyoudo.css */
.wcyd-section {
  background: linear-gradient(to right, #004b8d, #609cff);
  padding: 60px 40px;
  color: #fff;
  caret-color: transparent;
}

.wcyd-content {
  margin: 0 auto;
  text-align: center;
}

.wcyd-title {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: 'Pacifico', cursive;
}

.wcyd-description {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 40px;
  font-family: 'Roboto Slab', sans-serif;
}

.wcyd-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

.wcyd-category {
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.wcyd-category-icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.wcyd-category-icon {
  font-size: 70px;
  color: #028f44;
}

.wcyd-category-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.wcyd-category-description {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}