.data-section {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    width: 80%;
    height: 95%;
    background-image: url('../components/Images/wepik-export-202403041512455kLH.jpeg');
    background-size: 100% 475px;
    background-repeat: no-repeat;
    background-position: center;

    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;

}

.data-cards-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    gap: 30px;
}

.data-cards {
    height: 320px;
    width: 310px;
    background-color: rgba(0, 0, 0, 0.215);
    border-radius: 3%;
}



/* reviews section */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.review-section-container {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.review-section {
    background-color: #00a94fde;
    width: 90%;
    height: 95%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding-left: 15px;
    padding-right: 15px;
    scroll-behavior: smooth;
    /* Smooth scrolling */
    scroll-snap-type: x mandatory;
    /* Snap scrolling */
}

.review-cards-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 95%;
    overflow: auto;
    gap: 10px;
    border-radius: 5px;
    padding: 0 10px;
}

.review-card {
    min-width: 500px;
    height: 280px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #004b8d;
    color: white;
    position: relative;
    overflow: hidden;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.card-review {
    text-align: left;
    margin-bottom: 20px;
}

.card-footer {
    position: absolute;
    bottom: 20px;
    /* Adjust as needed */
    left: 20px;
    /* Adjust as needed */
    display: flex;
    align-items: center;
}

.profile-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 1.2rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

/* Hide scrollbar */
.review-cards-container::-webkit-scrollbar {
    display: none;
}