@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-in-home {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 70px;
    background-color: transparent;
    color: whitesmoke;
}

.navbar-everywhere {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 75px;
    background-color: rgb(228, 228, 228);
    box-shadow: 0 2px 2px rgba(30, 30, 30, 0.39);
    color: black;
}

.foundation {
    display: inline;
    position: absolute;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-left: 10px;
    border-radius: 5px;
}

#daan {
    color: #00a950;
}

#karen {
    color: rgb(35, 96, 250);
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 25px;
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-size: 1.05rem;
    position: absolute;
    left: 25%;
}

.nav-link-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.nav-link-items i {
    height: 100%;
    width: 100%;
}

.nav-link-items a:hover {
    text-decoration: none;
    position: relative;
}

.nav-link-items a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2.5px;
}

.nav-link-items-home a:hover::after {
    background-color: whitesmoke;
}

.nav-link-items-everywhere a:hover::after {
    background-color: black;
}

.nav-link-items a.active {
    text-decoration: none;
    position: relative;
    color: #00a950;
}


.nav-link-items a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2.5px;
    background-color: #00a950;
}

.donate-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 86px;
    box-sizing: content-box;
    -webkit-user-select: none;
    user-select: none;
}

.donate-button {
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}

.donate-button-clicked {
    border: 3px solid #00773898;
    background-color: #03ca606f;
    transition: border .15s ease-in-out;
}

.login-signup {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 15px;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.login-button,
.signup-button,
.logout-button {
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-size: 1.1rem;
}

.login-button {
    background-color: #00a950;
}

.signup-button {
    background-color: rgb(35, 96, 250);
}
.logout-button {
    background-color: rgb(179, 50, 50);
}

/* Media Queries for Phones */
@media (max-width: 576px) {

    .navbar {
        height: 50px;
        background-image: linear-gradient(to right, rgb(251, 224, 201), rgb(255, 237, 222), rgb(196, 196, 196));
        box-shadow: 0px 3px 3px rgb(123, 123, 123);
    }

    .foundation {
        font-size: 1.5rem;
        /* Reduce font size for foundation */
    }

    .nav-links {
        left: 0;
        width: 100%;
        justify-content: space-around;
        /* Adjust spacing for smaller screens */
        font-size: 0.9rem;
        /* Reduce font size for navigation links */
    }

    .login-signup {
        display: none;
        /* Hide login/signup section on phones */
    }
}