@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --height: 65px;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: var(--height);
    -webkit-user-select: none;
    user-select: none;
}

.navbar-in-home {
    background-color: transparent;
    color: whitesmoke;
}

.navbar-everywhere {
    background-color: rgb(225, 225, 225);
    box-shadow: 0 2px 2px rgba(30, 30, 30, 0.39);
    color: black;
}

.navbar-scrolled {
    background-color: rgba(225, 225, 225, 0.95);
    box-shadow: 0 2px 2px rgba(30, 30, 30, 0.45);
    color: black;
    transition: .45s;
}

.foundation {
    position: absolute;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    border-radius: 5px;
    left: 0.5%;
    font-size: 2.1rem;
    -webkit-user-select: none;
    user-select: none;
}

#daan {
    color: #00a950;
}

#karen {
    color: rgb(35, 96, 250);
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height);
    gap: 20px;
    position: absolute;
    left: 22%;
}

.nav-link-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-family: "filson-pro", sans-serif !important;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link-items i {
    height: 100%;
    width: 100%;
    color: white;
}

.nav-link-items a:hover {
    text-decoration: none;
    position: relative;
}

.nav-link-items a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
}

.nav-link-items-home a:hover::after {
    background-color: whitesmoke;
}

.nav-link-items-everywhere a:hover::after {
    background-color: black;
}

.nav-link-items a.active {
    text-decoration: none;
    position: relative;
    color: #00a950;
}


.nav-link-items a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2.5px;
    background-color: #00a950;
}

.donate-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    box-sizing: content-box;
    -webkit-user-select: none;
    user-select: none;
}

.navbar-donate-button {
    color: white;
    padding: 2px 10px;
    border-radius: 10px;
    font-family: "filson-pro", sans-serif !important;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar-donate-button-clicked {
    border: 1px solid #00773898;
    background-color: #03ca606f;
    transition: border .15s ease-in-out;
}

.login-signup,
.profile-div {
    display: flex;
    position: absolute;
    gap: 5px;
    right: .5%;
    justify-content: center;
    align-items: center;
    height: var(--height);
}

.profile-div {
    right: 2%;
}

.login-button,
.signup-button {
    border-radius: 10px;
    padding: 2px 10px;
    color: white;
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-size: 1.1rem;
}

.logout-button {
    border-radius: 10px;
    padding: 2px 10px;
    color: white;
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-size: 1.1rem;
}

/* ProfileButton.css */
.profile-button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-button:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.profile-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-button {
    background-color: #00a950;
}

.login-button:hover {
    background-color: #018e43;
}

.signup-button {
    background-color: rgb(35, 96, 250);
}

.signup-button:hover {
    background-color: rgb(8, 66, 214);
}

.sidebar-toggle {
    display: none;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

/* Style for profile Dropdown */
.dropdown-menu {
    position: absolute;
    top: 68px;
    right: 0;
    width: 235px;
    height: 236px;
    background-color: rgba(235, 233, 233, 0.895);
    border-radius: 4px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.347);
    z-index: 1;
}

.dropdown-header {
    display: flex;
    align-items: center;
    margin: 6px;
    padding: 4px;
    font-size: 1.15rem;
    border-radius: 5px;
    box-shadow: 0 0 0px .2px rgba(124, 123, 123, 0.813);
}

.dropdown-header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-header span {
    color: #000000;
}

.dropdown-header:hover{
    background-color: rgba(194, 191, 191, 0.26);
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding: 0 3px;
}

.dropdown-items button {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #141414;
    font-size: 1rem;
    padding: 10px 8px;
    gap: 1rem;
    border-radius: 5px;
}

.dropdown-items button:hover {
    background-color: rgba(194, 191, 191, 0.26);
}

.profile-dropdown-icons-span {
    color: #141414;
    font-size: 1.5rem;

}

.logout {
    gap: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}


/* Working for responsiveness of the navbar */
@media (max-width: 1075px) {
    :root {
        --height: 60px;
    }

    .header {
        height: var(--height);
    }

    .foundation {
        height: var(--height);
        font-size: 2rem;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--height);
        gap: 20px;
        position: absolute;
        left: 22%;
    }

    .nav-link-items {
        font-size: 1rem;
    }

    .donate-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 70px;
    }

    .navbar-donate-button {
        color: white;
        padding: 4px 8px;
        border-radius: 10px;
        font-family: "filson-pro", sans-serif !important;
        font-size: 1rem;
        font-weight: 500;
    }

    .navbar-donate-button-clicked {
        border: 1px solid #00773898;
        background-color: #03ca606f;
        transition: border .15s ease-in-out;
    }

    .login-signup {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--height);
        right: 0;
    }

    .login-button,
    .logout-button {
        font-size: 1rem;
        border-radius: 10px;
        padding: 4px 8px;
    }

    .login-button {
        background-color: rgb(35, 96, 250);
    }

    .login-button:hover {
        background-color: rgb(8, 66, 214);
    }

    .signup-button {
        display: none;
    }
}

@media (max-width: 860px) {

    .login-button,
    .logout-button {
        border-radius: 10px;
        padding: 4px 6px;
    }

    .donate-button-container {
        height: 25px;
        width: 60px;
    }

    .navbar-donate-button {
        padding: 4px 6px;
        border-radius: 10px;
    }
}

@media (max-width: 768px) {

    .nav-links,
    .login-signup,
    .profile-logout {
        display: none;
    }

    :root {
        --height: 50px;
    }

    .nav-links {
        display: none;
    }

    .foundation {
        font-size: 1.75rem;
        border-radius: 5px;
        left: 41.5%;
    }

    /* Show only logo and profile/logout button */
    .foundation,
    .profile-logout {
        display: block;
    }

    .sidebar-toggle {
        left: 5px;
        display: block;
        top: 48%;
        padding: 7px;
    }

    .sidebar-toggle:hover {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.283);
    }
}