@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

.partners-page {
  margin-top: 40px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2rem;
  /* background: linear-gradient(to right, #f2f2f2, #ffffff); */
}

.partners-heading {
  font-size: 1.5rem;
  font-family: "Madimi One", sans-serif;
  font-size: 50px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.brand-partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.brand-logo-container {
  width: 120px;
  height: 120px;
  margin: 3.5rem;
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-partners {
  /* background: linear-gradient(to right, #f2f2f2, #ffffff); */
  padding: 40px;
  text-align: center;
}

.brand-partners h2 {
  font-size: 28px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 30px;
}

.brand-partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brand-logo {
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
}

.brand-logo img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.org-partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partner-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-right: 60px;
  text-align: center;
  max-width: 200px;
}

.partner-card:hover{
  cursor: pointer;
}

.partner-card-border-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.partner-card img {
  max-width: 100%;
  border-radius: 50%;
}

.partner-card span {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.partner-card p {
  color: #666;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .brand-logo img {
    max-width: 80px;
    max-height: 80px;
  }

  .partner-card {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .brand-logo img {
    max-width: 60px;
    max-height: 60px;
  }
}

.organisation-partner-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 65px;
}

.organisation-partner-popup-container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 1000px;
  width: 90%;
  max-height: 90vh;
  overflow: auto;
}

.organisation-partner-popup-container::-webkit-scrollbar {
  display: none;
}
.close-button {
  color: #4e4e4e;
  font-weight: bold;
  text-align: right;
  height: 40px;
}

.close-button>span{
  margin-top: 0;
  cursor: pointer;
  font-size: 2.5rem;
  margin-right: 10px;
}
.close-button>span:hover{
  color: #000000;
}
.organisation-partner-popup-content {
  background-color: #f5f5f5;
  padding:0 20px;
  position: relative;
  border-radius: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.organisation-partner-popup-content img {
  float: left;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  margin-left: 0;
  margin-right: 20px;
}


.organisation-partner-popup-content h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.organisation-partner-popup-content p {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-bottom: 15px;
  color: #555;
  text-align: left;
}

@media (max-width: 1200px) {
  .organisation-partner-popup-container {
    max-width: 800px;
  }

  .popup-img-container {
    flex: 0 0 50%;
  }

  .organisation-partner-popup-content {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .organisation-partner-popup-container {
    flex-direction: column;
    max-width: 90%;
  }

  .popup-img-container {
    flex: 1;
    padding: 10px;
  }

  .popup-img-container img {
    max-height: 300px;
  }

  .organisation-partner-popup-content {
    max-width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media (max-width: 480px) {
  .organisation-partner-popup-content {
    padding: 20px;
  }

  .organisation-partner-popup-content h3 {
    font-size: 24px;
  }

  .organisation-partner-popup-content p {
    font-size: 16px;
  }
}