@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&display=swap');
.partners{
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin:5% auto 5% auto;
}

.brand-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 2rem 0;
  border-radius: 50%;
}

.brand-logo {
    width: 50%;
    height: auto;
    padding: 1%;
    border-radius: 50%;
  }

.brand-logo img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.slick-slider {
  margin: 0 auto;
  max-width: 800px; 
}

.slick-slide {
  padding: 0 10px; 
}

.slick-slide > div {
  display: flex;
  justify-content: center;
}

.partner-card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-family: inherit;
  margin-right: 20px; 
}

.partner-card .img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 auto 10px;
}

.partner-card span {
  font-weight: 600;
  color: black;
  font-size: 1.3em;
}

.partner-card .profession {
  font-weight: 400;
  color: black;
  font-size: 1em;
}
@media screen and (max-width: 768px) {
  .partner-card {
    margin-right: 10px;
  }
}