@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

.profile-page-container {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 60px 140px;
  border-radius: 20px;
  background: linear-gradient(135deg, #3dc07a, rgb(54, 97, 205));
}

.user-profile img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 5px solid #fff;
}

.user-profile h6 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.user-profile p {
  font-size: 16px;
  color: #fff;
}

.user-profile form{
  border: 2px solid black;
  width: 100px;
}
.profile-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 400px;
  height: 200px;
}

.profile-counter-section {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.profile-counter-dial {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 500;
  width: 110px;
  height: 100px;
  color: #fff;
  box-sizing: border-box;
  transition: transform 0.2s;
  border: 2px solid #fff;
  border-radius: 50%;
}

.profile-counter-section span {
  font-size: 24px;
  color: #fff;
  margin-top: 5px;
  font-weight: 500;
}

.user-info,
.campaigns,
.donations {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-top: 40px;
}

.campaigns h2,
.donations h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.campaign-list,
.donation-list,
.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.campaigns h2,
.donations h2 {
  font-family: "Madimi One", sans-serif;
}

.campaign-card,
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: left;
  max-width: 400px;
  width: 100%;
}

.card p {
  margin: 10px 0;
}

.show-hide-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
}

.show-hide-btn:hover {
  background-color: #555;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card-list .card:nth-child(n + 5) {
  display: none;
}

.card-list.show-all .card {
  display: block;
}

.counter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.counter-section-data {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  padding: 10px;
  width: 80px;
  height: 80px;
}

.counter-dial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  background: white; 
  z-index: 1; 
}

.counter-section-data::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(135deg, #3dc07a, rgb(54, 97, 205));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.campaigns-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.campaigns-header h2 {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .user-profile img {
    width: 120px;
    height: 120px;
  }

  .user-profile h6 {
    font-size: 22px;
  }

  .user-profile p {
    font-size: 16px;
  }

  .user-info h6,
  .campaigns h2,
  .donations h2 {
    font-size: 20px;
  }

  .user-info p {
    font-size: 16px;
  }

  .campaign-card,
  .donation-card,
  .volunteer-card {
    flex: 0 0 250px;
  }
}