.register-org-page {
  margin-top: 65px;
}

.register-org-header {
  text-align: center;
  margin-bottom: 30px;
}

.register-org-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.register-org-header p {
  font-size: 1.2rem;
  color: #666;
}

/* Hero Section Styles */
.register-org-hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  background-color: #7575751a;
}

.register-org-hero-content {
  flex: 1.2;
  padding-right: 30px;
}

.register-org-hero-content h1 {
  font-size: 2.7rem;
  margin-bottom: 10px;
  background: linear-gradient(to right, #1b50a4, #237dcc);
  background-clip: text;
  color: transparent;
  font-weight: 500;
}

.register-org-hero-content p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero-section {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .hero-image {
    position: static;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  .hero-text {
    position: static;
    max-width: 100%;
    transform: none;
    border-radius: 10px;
    background-color: #fff;
  }
}

.register-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.register-org-form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.register-org-form-field {
  margin-bottom: 15px;
}

.register-org-input,
.register-org-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.register-org-textarea {
  height: 100px;
}


.register-org-file-label {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  caret-color: transparent;
}

.register-org-file-input {

  display: none;
}

.register-org-file-icon {
  margin-right: 5px;
}

.register-org-form-submit {
  text-align: center;
  margin-top: 20px;
}

.register-org-submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.register-org-submit-btn:hover {
  background-color: #0056b3;
}