.register-org-page {
  margin-top: 65px;
}

.register-org-header {
  text-align: center;
  margin-bottom: 30px;
  caret-color: transparent; 
}

.register-org-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.register-org-header p {
  font-size: 1.2rem;
  color: #666;
}

/* Hero Section Styles */
.register-org-hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  background-color: rgba(192, 192, 192, 0.511);
}

.register-org-hero-content {
  flex: 1.2;
  padding-right: 30px;
}

.register-org-hero-content h1 {
  font-size: 2.7rem;
  margin-bottom: 10px;
  background: linear-gradient(to right, #1b50a4, #237dcc);
  background-clip: text;
  color: transparent;
  font-weight: 500;
}

.register-org-hero-content p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero-section {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .hero-image {
    position: static;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  .hero-text {
    position: static;
    max-width: 100%;
    transform: none;
    border-radius: 10px;
    background-color: #fff;
  }
}

.register-container {
  max-width: 700px;
  margin: 30px auto 0; /* Add margin-top */
  padding: 20px;
  background-color: #aec1ef;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.register-heading {
  text-align: center;
  caret-color: transparent; 
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-heading img{
  height: 2rem;
  width: 8rem;
}
.register-org-form-container {
  padding: 20px;
  border-radius: 5px;
}

.register-org-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; /* Add space between form fields */
}

.register-org-form-field {
  margin-bottom: 0; /* Remove default margin-bottom */
}

.register-org-input,
.register-org-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.register-org-textarea {
  height: 100px;
}

.register-org-input::placeholder,
.register-org-textarea::placeholder{
  color: rgba(0, 0, 0, 0.621);
}
.register-org-input:focus,
.register-org-textarea:focus{
  outline: none;
  border: none;
}

.reg-org-contact-email{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.reg-org-contact-email>div{
  width: 48%;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.reg-org-contact-email>div>input{
  border: none;
}

.reg-org-city-state-pincode{
  display: flex;
  justify-content: space-between;
}

.reg-org-contact-number {
  display: flex;
  align-items: center;
}

.reg-org-phone-prefix {
  padding-left: 4px;
  font-weight: 500;
}

.register-org-file-label {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  caret-color: transparent;
}

.register-org-file-input {
  display: none;
}

.register-org-file-icon {
  margin-right: 5px;
}

.register-org-form-submit {
  text-align: right;
  margin-top: 20px;
}

.register-org-submit-btn {
  padding: 10px 30px;
  background-color: #00A950;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.register-org-submit-btn:hover {
  background-color: #068441;
}