/* VolunteerPage.css */

.volunteer-page {
  margin-top: 66px;
  font-family: 'Roboto', sans-serif;
}

/* Hero Section */
.volunteer-page-hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #7575751a;
}

.volunteer-page-hero-content {
  flex: 1;
  padding-right: 40px;
}

.volunteer-page-hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #1b50a4, #237dcc);
  font-weight: bold;
  background-clip: text;
  color: transparent;
}

.volunteer-page-hero-content p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.volunteer-page-sections {
  padding: 40px 20px;
  margin: 0 auto;
}

.volunteer-page-sections h2 {
  font-size: 28px;
  margin-bottom: 16px;
  text-align: center;
}

.volunteer-page-sections p {
  line-height: 1.6;
  text-align: center;
}

/* Impact Section */
.volunteer-impact {
  padding: 60px 20px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to right, #2097ff, #609cff);
}

.impact-items {
  display: flex;
  justify-content: space-evenly;
}

.impact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #fff;
}

.volunteer-impact-card-icon {
  font-size: 3.5rem;
}

.volunteer-impact-card-content h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.volunteer-impact-card-content p {
  font-size: 1rem;
  color: #f1f1f1;
}

/* Volunteer section along with the requests cards */
.volunteer-section {
  margin-top: 60px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  background: linear-gradient(to right, #1b50a4, #237dcc);
  font-weight: bold;
  font-size: 2.4rem;
  background-clip: text;
  color: transparent;
  caret-color: transparent;
}

.get-involved {
  margin-bottom: 40px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  -webkit-user-select: none;
  user-select: none;
}

.pincode-filter-input-wrapper {
  position: relative;
  border: 1.75px solid #408bcd;
  border-radius: 5px;
  height: 2.8rem;
}

.pincode-filter-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.2rem;
  transform: translateY(-50%);
  color: #0e66b3;
}

.pincode-filter-input {
  padding: 8px 12px 8px 40px;
  border-radius: 4px;
  font-size: 1.1rem;
  height: 100%;
  width: 450px;
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.pincode-filter-input::placeholder {
  color: rgba(90, 90, 90, 0.845);
}

.pincode-filter-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Donation grid */
.donation-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.volunteer-page-view-more {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.stuff-donation-volunteer-card {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.stuff-donation-volunteer-card .card-content {
  flex-grow: 1;
  margin-bottom: 16px;
}

.stuff-donation-volunteer-card .card-content p {
  margin-bottom: 8px;
  line-height: 1.4;
}

.stuff-donation-volunteer-card .card-content strong {
  font-weight: bold;
}

.vol-page-donation-buttons {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  gap: 1.5rem;
}

.vol-card-buttons {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.volunteer-button-disabled {
  background-color: #007bff;
  color: white;
}

.volunteer-button-disabled:hover {
  background-color: #0056b3;
}

.volunteer-button {
  background-color: #007bff;
  color: white;
}

.volunteer-button:hover {
  background-color: #0056b3;
}

.directions-button {
  background-color: #0a763d;
  color: white;
}

.directions-button:hover {
  background-color: #095c30;
}

.volunteer-page-view-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.volunteer-page-view-more {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 16px 0 16px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteer-page-view-more svg {
  height: 24px;
  width: 24px;
  margin-bottom: -15px;
  color: #08984b;
}

.no-more-requests {
  font-weight: bold;
  color: green;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-requests-message,
.no-more-requests-message {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-requests-message h3,
.no-more-requests-message h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.no-requests-message p,
.no-more-requests-message p {
  font-size: 16px;
  color: #666;
}

.no-more-requests-icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  animation: bounceAnimation 1s infinite;
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Responsive Styles */

@media (max-width: 768px) {
  .volunteer-page-hero-section {
    flex-direction: column;
    padding: 20px;
  }

  .volunteer-page-hero-content {
    padding-right: 0;
    text-align: center;
  }

  .hero-image {
    margin-top: 20px;
  }

  .impact-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .impact-item {
    margin: 10px;
  }

  .volunteer-section {
    width: 100%;
  }

  .pincode-filter-input {
    width: 100%;
  }

  .volunteer-page-hero-content h1 {
    font-size: 36px;
  }

  .volunteer-page-hero-content p {
    font-size: 1rem;
  }

  .volunteer-page-sections h2 {
    font-size: 24px;
  }

  .section-description {
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  .donation-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .donation-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .donation-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .donation-grid {
    grid-template-columns: 1fr;
  }

  .stuff-donation-volunteer-card {
    max-width: 100%;
  }

  .volunteer-page-hero-content h1 {
    font-size: 28px;
  }

  .volunteer-page-sections h2 {
    font-size: 20px;
  }

  .section-description {
    font-size: 1.6rem;
  }
}