@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

body{
    background-color:#eae9e9bb;
}